# Auth server client ID and secret.
CLIENT_ID=
CLIENT_SECRET=
AUTH_BASE_URL=
#
API_BASE_URL=
# Key used to encrypt items stored in client-side storage (local storage / async storage).
# limit to 16 bytes. Note: 1 ASCII character = 1 byte.
# Example (16-byte key): mysecretkey123456
# STORAGE_ENCRYPTION_KEY=
#